.pagos-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .table th, .table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .text-warning {
    font-weight: bold;
    color: #ffc107;
  }
  
  .text-success {
    font-weight: bold;
    color: #28a745;
  }
  
  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn:hover {
    transform: scale(1.05);
    transition: 0.2s;
  }
  